.add-container {
  width: 58%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #fffcee;
  border-radius: 12px;
  margin-left: 20px;
  flex-wrap: wrap;

  & .button-viewcart {
    padding: 15px;
    border: 2px solid #10553e;
    background-color: #077a75;
    cursor: pointer;
    margin: 0px auto;
    color: white;

    &:hover {
      background-color: #f8f4f4;
      color: rgb(11, 82, 82);
    }
  }
}

.button {
  padding: 15px;
  border: 2px solid rgb(168, 8, 75);
  background-color: white;
  cursor: pointer;
  margin-left: 10px;

  &:hover {
    background-color: #f8f4f4;
  }

  &:disabled {
    color: #fff;
    border-color: #a0a0a0;
    background-color: #a0a0a0;
    pointer-events: none;
  }
}

/* -- LANDSCAPE ONLY  -- */
@media (min-width: 1024px) and (max-width: 1179px) {
  .button {
    margin-top: 5px;
  }
}

/* -- PORTRAIT ONLY -- */
@media (min-width: 768px) and (max-width: 1023px) {
  .button {
    margin-top: 5px;
  }
}

/* -- Mobile ONLY -- */
@media (max-width: 767px) {
  .add-container {
    width: 100%;
    padding: 5px;
    flex-wrap: wrap;
    margin: 0;
  }
}
